:root {
  --height: 350px;
  --image-h: 200px;
  --image-w: 200px;
}

body {
  background-image: url("src/images/bgwp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Argent CF';
}

@media (max-width:540px) {
.text-design, .bot-design {
  text-align: center;
}

.image-design {
  display: none;
}

}

h1, h6 {
  color: #9084D2;
}

h6 {
  font-style: italic
}

.logo {
  width: 35px;
}

.indx-img {
  max-height: var(--height);
  max-width: 300px;
  margin-left: 100px;
  border-radius: 10px !important;
  padding: 5px;
}

.main-content {
  margin-top: 130px;
  margin-bottom: 50px;
  margin-left: 250px;
  width: 1000px;
}

.bot-design {
  margin-top: 50px;
  line-height: none;
  margin-left: 350px;
  width: 1000px;
}

.text-design {
  margin-top: 50px;
  margin-left: -50px;
}

.about-btn {
  color: white;
  background-color: #8B80D2;
  border: 1px solid #8B80D2;
  margin-top: 30px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.about-btn:hover {
  color: #8B80D2;
  background-color: transparent;
  border: 1px solid radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);;
  transition: all ease-in-out 200ms;
}

.proj-link {
  color: #d98dec;
  text-decoration: none;
}

.proj-link:hover {
  color: blue;
  text-decoration: underline;
  transition: all ease-in-out 200ms;
}

.proj-link:active {
  color: blueviolet;
}
