:root {
  --height: 400px;
  --image-h: 200px;
  --image-w: 200px;
}

@media (max-width:540px) {
.text-design, .bot-design {
  text-align: center;
}

.image-design {
  display: none;
}

}

body {
  background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);
  background-repeat: repeat-y, repeat-x;
}

h1 {
  color: blue;
}

img {
  max-height: var(--height);
  margin-left: 100px;
}

.main-content {
  margin-top: 130px;
  margin-bottom: 50px;
  margin-left: 250px;
  width: 1000px;
}

.bot-design {
  margin-top: -50px;
  line-height: none;
  margin-left: 250px;
  width: 1000px;
}

.text-design {
  margin-top: 120px;
  margin-left: -50px;
}

.about-btn {
  margin-top: 50px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid blue;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.about-btn:hover {
  color: blue;
  background-color: #E3F2FD;
  border: 1px solid radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);;
  transition: all ease-in-out 200ms;
}

.proj-link {
  color: black;
  text-decoration: none;
}

.proj-link:hover {
  color: blue;
  text-decoration: underline;
  transition: all ease-in-out 200ms;
}

.proj-link:active {
  color: blueviolet;
}

/* About styles css*/

.main-txt-content {
  width: 1200px;
  margin-top: 100px;
}

.main-txt {
  width: 570px;
  height: 300px;
  background-color: #B4F1FF;
}

p {
  margin-top: 50px;
}

.image {
  margin-top: 20px;
  height: var(--image-h);
  width: var(--image-w);
}

img:hover {
  transform: scale(1.1);
}

.img-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px    ;
}

.img-box .image {
  border: 10px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.img-box .image img {
  object-fit: cover;
  transition: .2s linear;
}

.img-box .image:hover img {
  transform: scale(1.1);
}

.container .popup-img {
  position: fixed;
  top: 0; left: 0;
  background: rgba(0, 0, 0, .9);
  height:  100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.container .popup-img span {
  position: absolute;
  top: 0; right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100
}

.container .popup-img img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .container .popup-img img {
    width: 95;
  }
}